---
import Section from "./Section.astro";
---

<Section title="Model Y" subtitle="Desde $40.240" color="black">
  <div class="flex justify-center flex-wrap-reverse gap-4" slot="footer">
    <a
      class="text-white bg-black font-medium text-sm border-[3px] border-black rounded px-12 py-2 inline-block hover:text-black hover:bg-transparent duration-300"
      href="#">Realizar Compra</a
    >
    <a
      class="text-white bg-black font-medium text-sm border-[3px] border-black rounded px-12 py-2 inline-block hover:text-black hover:bg-transparent duration-300"
      href="#">Explorar Inventario</a
    >
  </div>

  <img
    src="./modelY.avif"
    alt="modelY"
    class="h-full w-full object-cover object-center"
    slot="background"
  />
</Section>
